* {   margin:auto;
}
             /** makes the entire document centered**/
body {
  color: white;
  background-color: #171717;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
  background-image: url(../img/bg-tile.jpg);
  background-repeat: repeat-x;
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	margin-top: 20px;
	border: 1px solid #CCC;
}
#header h1 a{ 
background-image: url("../resources/header.jpg");
display:block;
width:800px;
height:140px;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}
h2 {
  color:orange;
}
h3 {
  color:orangered;
}
h4 {
  color:rgb(255, 196, 0);
}

.alert {
  color:aqua;
  background-color:navy;
}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
 .hoverlink:hover { color: #00FF00; } 
img {
  float:right;
  border:10px solid blue;
  margin:4em;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}
#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
