/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body{ font-family: 'Noto Sans', sans-serif;}


/* ------ Design Time Styles ----*/

@media only screen and (min-width: 380px) {

/* Global styles */
main.container {

line-height:1.6;
text-align: center;
margin: auto;
border: 1px solid #fff;
max-width: 480px;
}

}


h2  {
  
  display: block;
  color: #fff;
  text-align: center;
}

h3.skill {
  display:flex;
  justify-content:column;

}

h3  {
  color: #fff;
  text-align: center;
}


main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight:400;
  font-variant:small-caps;
}
main h1:before, main h1:after {
  background-color: rgb(rgb(196, 190, 190));
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.77em;
}



main h1:before {
  margin-right:10px;
}
main h1:after {
  margin-left:10px;
}


h2 and h3 {
  color: #fff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img#selfie {
  max-width:50%;
  height:auto;
  border-radius:15%;
}



main{
  padding: 1px 20px;
}



dl{
  display:grid;
  grid-template-columns: 8em 1fr;
  grid-template-rows:auto;
  /* Shorthand */
  grid-template: auto / 8em 1fr;
}

dt{
  font-weight:800;
  grid-column: 1;
  padding: 10px 0;
  border-bottom:1px solid #999;
}

dd{
  margin:0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom:1px solid #999;
}


.related-links{
  display:flex;
  justify-content:center;
  list-style:none;
  padding:0;
}
.related-links .svg-inline--fa{
  font-size:1.8em;
  padding-top:7px;
}

.related-links a{
  border:1px solid #000;
  padding:8px 16px;
  text-align:center;
  text-decoration:none;
  color:#f0ebeb;
  text-transform:uppercase;
  font-size:.75em;
  background: #222;
  transition: background-color 0.5s ease;
}


.related-links li{
  margin-right:20px;
}

a:link {color:#fff;}

a:visited {
  color:#fff;
}

/* mouse over link */
a:hover {
  color: #fff;
}

/* selected link */
a:active {
  color: #fff;
}

p {
  color: rgb(241,241,241);
}

ul {
  list-style-type: none;
  margin: auto;
}

#about {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  grid-area:about;
   background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}
  
.page-title{
  grid-area: title;
}

#skills{
  grid-area: skills;
  margin-right: 20px;
  background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}

#experience{
  grid-area: experience;

   background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}
#education{
  margin-top: 20px;
  margin-bottom: 20px;
  grid-area: education;
   background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}


@media only screen and (min-width: 768px) {
  
  main.container {
    max-width:900px;
    display:grid;
    margin-left: auto;
    margin-right:auto;
    grid-template-columns: 60% auto;
    grid-template-areas:
      
      "about education"
      "skills experience"
      "skills experience";
  }



p {
  color: rgb(241,241,241);
}

#about {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  grid-area:about;
   background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}
  
.page-title{
  grid-area: title;
}

#skills{
  grid-area: skills;
  margin-right: 20px;
  background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}

#experience{
  grid-area: experience;

   background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}
#education{
  margin-top: 20px;
  margin-bottom: 20px;
  grid-area: education;
   background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}
}

@media only screen and (min-width: 960px) {
  
  main.container {
    max-width:1440px;
    display:grid;
    margin-left: auto;
    margin-right:auto;
    grid-template-columns: 41% 15% auto;
    grid-template-areas:
      "header header header"
      "about skills skills"
      "education . experience"
      "education . experience";
  }

 p { color: rgb(241,241,241);
}

.gallery {
	background-color: #CCC;
	width: 550px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999;
	height: 516px;
	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */
	border-radius: 4px;
}
.gallery img {
	margin: 15px;
}

header {
  grid-area: header;
  background: rgba(0,0,0,.8);
  border: 1px solid #fff;

}

.header {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  grid-area: header;
  background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
  
 }
  



#about {
  margin: 20px;
   grid-area:about;
   background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}
  
.page-title{
  grid-area: title;
}

#skills{
  grid-area: skills;
  margin: 20px;
  background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
  text-align: center;
}

#experience{
  grid-area: experience;
margin: 20px;
   background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}
#education{
  margin: 20px;
  grid-area: education;
   background:rgba(0,0,0,.8);
  border:1px solid #fff; 
  color: rgb(241, 241, 241);
  padding: 20px;
}
}

@import "bourbon";

* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
	-moz-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}



.btn {
  position: relative;
  display: inline-block;
  width: 166px;
  height: 45px;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}
.btn svg {
  position: absolute;
  top: 0; left: 0;
}
.btn svg rect {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
  
 } @include transition(all 1300ms $ease-out-expo);

.btn:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33;
}

.btn:hover {
  color:#fff;
  font-size:18px;
  letter-spacing:1px;
  font-weight:bold;
}




/* using Repeat
grid-template-columns:repeat(4, 1fr);
*/

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(44, 43, 43);
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

